/** Base Styling */
.field {
  @apply flex flex-col gap-1.5;
}

/* Label */
.field .label {
  @apply text-foreground cursor-pointer text-sm font-medium select-none;
  @apply transition-colors motion-reduce:transition-none;

  &[data-required="true"] {
    &::after {
      content: "*";
      @apply text-danger ml-0.5;
    }
  }

  &:has(input[type="checkbox"]),
  &:has(input[type="radio"]) {
    @apply flex cursor-pointer items-center gap-2;
  }

  &:has(input:disabled) {
    @apply status-disabled;
  }
}

/* Input, TextArea, Select */
.field .input,
.field .textarea,
.field .select {
  @apply bg-input text-input-foreground border-border rounded-sm border;
  @apply w-full px-3 py-2;
  @apply transition-all motion-reduce:transition-none;
  @apply dark:scheme-light-dark;

  &:focus-visible {
    @apply status-focused;
  }

  &::placeholder {
    @apply text-muted-foreground;
  }

  &:disabled {
    @apply status-disabled;
  }

  &[data-invalid="true"] {
    @apply border-danger focus:ring-danger;
  }
}

.field .textarea {
  @apply min-h-20 resize-y;
}

.field .select {
  @apply cursor-pointer;
  @apply bg-size-[16px_16px] bg-position-[right_0.75rem_center] bg-no-repeat;
  @apply pr-10;

  & option {
    @apply bg-background text-foreground;
  }

  & optgroup {
    @apply bg-surface text-surface-foreground font-medium;
  }
}

/* Checkbox */
.field .checkbox {
  @apply border-border size-6 rounded border;
  @apply bg-input text-input-foreground;
  @apply shrink-0 cursor-pointer;
  @apply transition-all motion-reduce:transition-none;

  &[data-checked="true"] {
    @apply bg-primary border-primary;
  }

  &:disabled {
    @apply status-disabled;
  }

  &[data-invalid="true"] {
    @apply border-danger;
  }

  .checkbox__indicator {
    @apply flex items-center justify-center;
  }

  & svg {
    @apply size-5;
  }
}

/* Radio */
.field .radio {
  @apply border-border size-5 rounded-full border;
  @apply bg-input text-input-foreground;
  @apply shrink-0 cursor-pointer;
  @apply transition-all motion-reduce:transition-none;

  &:focus-visible {
    @apply status-focused;
  }

  &:checked {
    @apply bg-primary border-primary;
    @apply shadow-[inset_0_0_0_3px_var(--color-input)];
  }

  &:disabled {
    @apply status-disabled;
  }

  &[data-invalid] {
    @apply border-danger;
  }
}

/* Helper Text */
.field .helper-text {
  @apply text-muted-foreground text-xs;
}

/* Error Message */
.field .error-message {
  @apply text-danger text-xs font-medium;
  @apply flex items-center gap-1;
}

/* Field States */
.field[data-disabled] {
  @apply pointer-events-none opacity-50;
}

.field[data-invalid] .label {
  @apply text-danger;
}
